h4{
    float: left;
    margin-right: 10px;
   }
   #order-now-btn {
       margin-left: 10px;
   }


.card-text-style{
   color: #C0C0C0;
   font-family: 'Montserrat', sans-serif;
}

.btn-style{
    color: white;
   font-family: 'Montserrat', sans-serif;
}


   